{{define "title"}}About{{end}}

{{define "main"}}
<h2>About</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit diam ac consequat pretium. Integer vulputate pellentesque enim ac auctor. Mauris eget odio nisl. Phasellus pharetra nulla non vestibulum ultricies. Nulla facilisi. Vivamus porta augue mi, vel congue mi ullamcorper nec. Vestibulum cursus neque iaculis, sollicitudin lectus at, convallis turpis. Integer interdum dui non pharetra malesuada. Donec aliquam efficitur urna at dictum. Praesent et cursus urna.
</p>
{{end}}
