{{define "title"}}Change Password{{end}}

{{define "main"}}
<h2>Change Password</h2>
<form action='/user/changepassword' method='POST' novalidate>
<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
  <div>
    {{range .Form.NonFieldErrors}}
    <label class="error">{{.}}</label>
    {{end}}
  </div>
  <div>
    <label>Current password:</label>
    {{with .Form.FieldErrors.current_password}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type='text' name='current_password' value=''>
  </div>
  <div>
    <label>New Password:</label>
    {{with .Form.FieldErrors.new_password}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type='text' name='new_password'>
  </div>
    <label>Confirm New Password:</label>
    {{with .Form.FieldErrors.confirm_new_password}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type='text' name='confirm_new_password'>
  </div>
  <div>
    <input type='submit' value='Change Password'>
  </div>
</form>
{{end}}
